textarea {
  padding: 5px;
  display: block;
  margin: 0 auto 10px auto;
  width: 100%;
}

input {
  float: left;
}

.new-tweet {
  background-color: #eee;
  padding: 10px;
  border-radius: 5px;
  margin: 2em;
  overflow: auto;
  border: 0.5px solid lightgrey;
}

.counter {
  color: inherit;
  font-style: italic;
  text-align: right;
  float: right;
}

.counter-error {
  color: red;
  font-style: italic;
  text-align: right;
  float: right;
}

#error-message {
  background-color: rgb(255,224,224);
  color: red;
  padding: 5px;
}

.error-message-header {
  font-weight: 700;
}

.error-message-body {
  font-weight: 300;
}
